@import "./fonts.css";

:root {
    --colors-black: rgba(0,0,0,0.95);
    --colors-gray1: rgb(20, 22, 26);
    --colors-gray2: rgb(30, 34, 41);
    --colors-gray3: rgb(65, 65, 65);
    --colors-gray4: rgb(72, 83, 94);
    --colors-gray8: rgb(110, 121, 132);
    --colors-gray9: rgb(145, 145, 149);
    --colors-silver: rgb(198, 203, 209);
    --colors-white: rgba(255, 255, 255, 0.95);
    --colors-teal: rgb(38, 181, 206);
    --colors-lightBlue: rgba(100, 198, 251, 1);
    --colors-darkBlue: rgb(38, 150, 255);
    --colors-blue: rgba(75, 177, 232, 1);
    --colors-turquise: rgb(14, 152, 173);
    --colors-purple: rgb(155, 129, 188);
    --colors-lightPurple: rgb(167, 159, 253);
    --colors-candy: rgb(249, 174, 170);
    --colors-orange: rgb(242, 153, 74);
    --colors-red: rgb(235, 87, 87);
    --colors-darkRed: rgb(197, 40, 40);
    --colors-darkGreen: rgb(15, 120, 60);
    --colors-green: rgb(76, 183, 130);
    --colors-yellow: rgb(242, 201, 76);

    --sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --colors-link: rgb(22, 140, 251);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
}

html, body {
    padding: 0;
    margin: 0;
    touch-action: manipulation;
    font-size: 14px;
    font-family: var(--sans);
    background: #fff;
}

.titlebar {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 34, 41);
    display: none;
}

.electron .titlebar {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
}

.electron .titlebar .traffic-lights {
    position: absolute;
    top: 18px;
    left: 13px;
    display: flex;
    gap: 8px;
}

.electron .titlebar .traffic-lights:hover {
    /*display: none;*/
}

.traffic-lights div {
    -webkit-app-region: no-drag;
    position: relative;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(255,255,255,.15);
}


.titlebar .title {
    width: calc(100% - 200px);
    height: 24px;
    border: 1px solid rgba(245, 245, 255, 0.075);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.electron.blurred .titlebar .traffic-lights div {
    background: rgba(255, 255, 255,.075);
    border: 0;
}

.electron.blurred .titlebar {
    background: rgb(50, 54, 61);
    color: rgba(255, 255, 255, 0.4);
}

.form-page {
    width: 100vw;
    min-height: 100vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
}

.form-page header .logo {
    display: block;
    text-decoration: none;
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: default;
}

.form-page .logo img {
    width: auto;
    height: 100%;
}

.form {
    position: relative;
    width: 350px;
    background: #fff;
    border-radius: 20px;
    max-width: calc(100vw - 60px);
}

.form-page header {
    margin-bottom: 30px;
    cursor: default;
}

.form h1 {
    font-size: 28px;
    font-weight: 600;
    color: var(--colors-gray2);
    margin: 0;
}

.form h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: var(--colors-gray4);
    line-height: 1.65;
}

.form .fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
}

.form .fieldset input {
    display: block;
    width: 100%;
    color: var(--colors-gray1);
    padding: 15px 10px;
    border: 2px solid transparent;
    background: rgba(30, 34, 41, 0.07);
    border-radius: 7px;
    font-size: 16px;
    font-family: var(--sans);
    outline: none;
}

.form .fieldset input:focus {
    border-color: var(--colors-darkBlue);
    background: #fff;
}

.form .fieldset input::placeholder {
    color: var(--colors-silver);
}

.form .fieldset button, .form .oauth-button {
    margin-top: 10px;
    padding: 15px 10px;
    color: var(--colors-gray1);
    border: 0;
    display: block;
    width: 100%;
    border-radius: 7px;
    font-size: 16px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: rgb(0 0 0 / 9%) 0px 1px 1px;
    font-weight: 600;
    cursor: default;
}

.form .fieldset button:hover , .form .oauth-button:hover {
    background: rgba(0,0,0,0.05);
}

.form footer {
    color: var(--colors-gray8);
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.2px;
    margin-top: 20px;
}

.form footer a {
    color: var(--colors-gray4);
    text-decoration: none;
}

.form .oauth-button {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: var(--colors-gray2);
    color: #fff;
    transition: transform .2s;
}

.form .oauth-button:hover {
    /*background: rgba(30, 34, 41, 0.9);*/
    background-image: radial-gradient(150px at 50% calc(100% + 100px), rgba(30, 34, 41, 0.8), rgba(30, 34, 41, 1));
    transform: translateY(-2px);

}

.form .oauth-button .logo {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.form .separator {
    display: grid;
    grid-template-columns: 1fr 25px 1fr;
    height: 20px;
    text-align: center;
    margin: 10px 0;
    color: rgba(0,0,0,0.4);
    cursor: default;
}

.form .separator::before, .form .separator::after {
    content: "";
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: calc(50% - 1px);
}

.form .invalid-feedback {
    font-size: 12px;
    text-align: right;
    color: var(--colors-red);
}

.form .alert {
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 2px;
    font-weight: 400;
    color: var(--colors-gray4);
}

.form .alert.error {
    color: var(--colors-red);
}

.waitlist {
    position: relative;
    margin-top: 50px;
    border-radius: 15px;
    background: rgba(100,130,250);
    transition: transform .2s;
}

.waitlist a {
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    padding: 0 30px;
    text-decoration: none;
    border-radius: 12.5px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,0,0, 0.05);

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: radial-gradient(ellipse at top left,rgba(30,180,200,1),transparent),radial-gradient(ellipse at bottom right,rgba(210,100,255,1),transparent);

}

.waitlist a:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.waitlist:hover {
    transform: translateY(-2px);
}

.webpage {
    width: 80vw;
    max-width: 800px;
    margin: 24px auto;
    position: relative;
    min-height: 100vh;
}

.hero {
    text-align: center;
    max-width: 580px;
    margin: 15vh auto 0 auto;
}

.hero h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;;
}

.hero h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    color: #aaa;
    margin-top: 10px;
}

.hero a {
    width: 180px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border-radius: 48px;
    background: var(--colors-darkBlue);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: transform .2s;
}

.hero a:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.hero-img {
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,.24), 0 24px 40px rgba(0,0,0,.24)
}

.hero-wide {
    width: 100%;
    max-width: inherit;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.features .feature {
    background: rgb(240, 243, 245);
    border-radius: 24px;
    padding: 40px;
}

.features .feature h3 {
    font-weight: 500;
    font-size: 18px;
    color: #222;
    margin-bottom: 10px;
}

.features .feature h4 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #888;
}

.features .feature span {
    display: flex;
    width: 100%;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

.page-footer {
    width: 80vw;
    max-width: 800px;
    margin: 24px auto;
    padding-top: 36px;
    color: rgb(120, 120, 120);
    font-weight: 400;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-footer .right {
    display: flex;
    gap: 30px;
    justify-content: end;
    position: relative;
}

.page-footer .right img {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
}

.page-footer .haiku {
    white-space: pre;
    font-weight: 400;
    color: #ccc;
}

.page-footer a {
    color: rgb(120, 120, 120);
    text-decoration: none;
    transition: color 0.2s;
}

.page-footer a:hover {
    color: rgb(80, 80, 80);
}

.page-footer .border {
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 0;
    margin-top: -36px;
    background: rgb(238, 238, 238);
}

.topbar {
    display: flex;
    align-items: center;
    position: relative;
}

.topbar svg {
    height: 56px;
}

.topbar label {
    position: absolute;
    background: var(--colors-lightPurple);
    color: #fff;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 4px;
    bottom: 21px;
    left: 110px;
    font-weight: 500;
    text-transform: uppercase;
}

.topbar .nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
}

.topbar a {
    text-decoration: none;
}

.topbar .nav a {
    text-decoration: none;
    color: rgb(20, 24, 28);
    transition: background color .2s;
    padding: 10px 20px;
    border-radius: 32px;
}

.topbar .nav a:hover {
    background: rgba(225, 230, 235, 0.3);
}

.topbar .nav .primary {
    background: rgb(225, 230, 235);
}

.topbar .nav .primary:hover {
    background: rgb(218, 223, 228);
}

.topbar .nav .launch {
    background: #222;
    color: #fff;
}

.topbar .nav .launch:hover {
    background: #444;
}

.blog {
    max-width: 600px;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog .back-button {
    position: absolute;
    left: 0;
    text-decoration: none;
    font-weight: 500;
    color: var(--colors-link);
    font-size: 15px;
    transition: color .4s;
}

.blog .back-button:hover {
    color: #111;
}

.blog .post {
    color: #222;
    line-height: 1.6;
}

.blog .post .date {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    text-transform: uppercase;
}

.blog .post > h1 {
    font-weight: 700;
    color: #111;
    letter-spacing: -0.025em;
    font-size: 32px;
    line-height: 1.2;
    margin: 10px 0 25px 0;
}

.blog .post > h1 a {
    text-decoration: none;
    cursor: default;
    color: inherit;
}

.blog .post-content img {
    max-width: 100%;
    border-radius: 6px;
}

.blog .post-content {
    font-size: 16px;
}

.blog .author {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.blog .author img {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
}

.blog .post-content h1 {
    margin: 20px 0 5px 0;
    font-size: 32px;
}

.blog .post-content a {
    color: var(--colors-link);
    text-decoration: none;
    transition: color .4s;
    font-weight: 500;
}

.blog .post-content a:hover {
    color: #111;

}

*::selection {
    background: rgba(119,119,119,0.15);
    color: rgba(0, 0, 0, 0.5);
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 900px) {
    .back-button {
	margin-top: -32px;
	left: inherit !important;
    }
}
