<%= @inner_content %>

<div class="alerts">
  <ul>
    <li class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></li>
    <li class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></li>
  </ul>
</div>
